%btn {
  font-family: var(--ff-sec);
  font-weight: var(--fw-sec);
  font-size: 18px;
  color: var(--cl-sec);
  background-color: transparent;
  border: 1px solid var(--cl-sec);
  border-radius: var(--br-main);
  transition-property: color, background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
  padding-block: 12px;
  padding-inline: 16px;

  &:hover,
  &:focus-visible {
    color: #fff;
    background-color: var(--cl-sec);
  }
}
