@use "../../scss/index.scss" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.title {
  @extend %title;
}

.project {
  display: flex;
  gap: 50px;
  @extend %glass;

  @include max-width(1120px) {
    flex-direction: column;
    align-items: center;
  }
}
