@use "../../scss/index.scss" as *;

.wrapper {
  position: fixed;
  inset: 10px;
  z-index: 200;
  display: grid;
  place-items: center;
  translate: 100%;
  scale: 0.8;
  @extend %glass;
  backdrop-filter: blur(10px);
  transition: scale var(--duration) var(--timing-function),
    translate var(--duration) var(--timing-function) var(--duration);

  &.visible {
    translate: 0;
    scale: 1;
    transition: translate var(--duration) var(--timing-function),
      scale var(--duration) var(--timing-function) var(--duration);
  }
}

.navList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.navLink {
  font-family: var(--ff-sec);
  font-weight: var(--fw-sec);
  font-size: clamp(1rem, 0.1667rem + 4.1667vw, 2.25rem);
  color: var(--cl-main);
  cursor: pointer;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus-visible,
  &.active {
    color: var(--cl-sec);
  }
}

.btn {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  color: var(--cl-main);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--cl-main);
  transition-property: color, border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus-visible {
    color: var(--cl-sec);
    border-color: var(--cl-sec);
  }

  &.github {
    top: unset;
    bottom: 25px;
    left: 25px;
  }

  &.linkedin {
    top: unset;
    bottom: 25px;
  }
}

.icon {
  width: 28px;
  height: 28px;
}
