@use "../../scss/index.scss" as *;

.wrapper {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  gap: 100px;

  @include max-width(1120px) {
    flex-direction: column;
  }
}
