@use "../../scss/index.scss" as *;

.wrapper {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  gap: 200px;

  @include max-width(1250px) {
    flex-direction: column;
  }

  @include min-max-width(1251px, 1600px) {
    gap: 100px;
  }
}

.fallbackWrapper {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;

  @include max-width(1250px) {
    padding-top: 150px;
  }
}

.loader {
  width: 100px;
  height: 100px;
  color: var(--cl-sec);
  animation: loading 0.8s linear infinite;

  @include max-width(500px) {
    width: 75px;
    height: 75px;
  }
}
