@use "../../scss/index.scss" as *;

.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 50px;

  @include max-width(768px) {
    grid-template-columns: 1fr;
  }
}

.title {
  grid-column: span 2;
  @extend %title;

  @include max-width(768px) {
    grid-column: auto;
  }
}

.card {
  display: grid;
  gap: 30px;
  @extend %glass;
  padding: 35px;

  @include max-width(768px) {
    padding: 25px;
  }

  &:last-of-type {
    grid-column: span 2;
    transform-origin: top center;
    animation: swing 5s ease-in-out infinite;

    @include max-width(768px) {
      grid-column: auto;
      animation: none;
    }
  }
}

.circle {
  position: absolute;
  bottom: 460px;
  left: 50%;
  translate: -50%;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  animation: swing 5s ease-in-out infinite;

  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: var(--br-sec);
  }
}

.subtitle {
  font-size: clamp(1.5rem, 1.2647rem + 1.1765vw, 2rem);
  text-align: center;
}

.skills {
  max-width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.figure {
  position: relative;
  display: grid;
  place-items: center;
  gap: 5px;
}

.box {
  position: absolute;
  width: 54px;
  height: 54px;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 2px;
}

.box2 {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 1px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
}

.img {
  z-index: 0;
}
