@use "../../scss/index.scss" as *;

.wrapper {
  display: grid;
  place-items: center;
  gap: 50px;
}

.title {
  @extend %title;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 50px;
  @extend %glass;
}

.text {
  font-family: var(--ff-sec);
  font-weight: var(--fw-sec);
  text-align: center;
}

.box {
  position: relative;
}

.label {
  font-weight: var(--fw-sec);
  font-size: var(--fs-sec);
  color: #d1d5db;
  position: absolute;
  top: 8px;
  left: 15px;
  transition-property: color, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.input {
  width: 100%;
  color: var(--cl-main);
  background-color: transparent;
  border: 1px solid var(--cl-main);
  border-radius: var(--br-main);
  transition: border-color var(--duration) var(--timing-function);
  padding-block: 10px;
  padding-inline: 15px;

  &:hover,
  &:focus-visible {
    border-color: var(--cl-sec);
  }

  &:last-of-type {
    resize: none;
  }
}

.error {
  @extend %error;
}

.btn {
  @extend %btn;
  display: grid;
  place-items: center;
  font-size: 21px;
}

.loader {
  width: 24px;
  height: 24px;
  animation: loading 0.8s linear infinite;
}
