@use "../../scss/index.scss" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  @extend %glass;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 0;
  padding-block: 15px;
  padding-inline: 0;
}

div.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0;
}

.logoBtn {
  display: flex;
  align-items: center;
  gap: 11px;
  background-color: transparent;
  border: none;
}

.logoImg {
  width: 50px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: var(--br-sec);
}

.logoText {
  font-family: var(--ff-sec);
  font-weight: var(--fw-sec);
  font-size: 24px;
  color: var(--cl-main);
}

.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.navLink {
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  color: var(--cl-main);
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--cl-main);
  transition-property: color, border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus-visible {
    color: var(--cl-sec);
    border-color: var(--cl-sec);
  }

  &.active {
    color: var(--cl-sec);
    border-color: var(--cl-sec);
  }
}

.hamburger {
  @extend .navLink;
  background-color: transparent;
}

.icon {
  width: 28px;
  height: 28px;
}

.btn {
  @extend %btn;
}
