@use "../../scss/index.scss" as *;

.squares {
  position: fixed;
  inset: 0;
  z-index: -10;
  overflow: hidden;
}

.squares > li {
  display: block;
  position: absolute;
  bottom: -150px;
  width: 20px;
  height: 20px;
  background-color: #bbcceb;
  animation: floating 25s linear infinite;

  &:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }

  &:nth-child(2) {
    left: 10%;
    animation-duration: 12s;
    animation-delay: 2s;
  }

  &:nth-child(3) {
    left: 70%;
    animation-delay: 4s;
  }

  &:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-duration: 18s;
    animation-delay: 0s;
  }

  &:nth-child(5) {
    left: 65%;
    animation-delay: 0s;
  }

  &:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
  }

  &:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
  }

  &:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-duration: 45s;
    animation-delay: 15s;
  }

  &:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-duration: 35s;
    animation-delay: 2s;
  }

  &:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-duration: 11s;
    animation-delay: 0s;
  }
}
