@use "./scss/index.scss" as *;
@import "../node_modules/modern-normalize/modern-normalize.css";
@import "aos/dist/aos.css";
@import "react-responsive-carousel/lib/styles/carousel.min.css";
@import "yet-another-react-lightbox/styles.css";
@import "yet-another-react-lightbox/plugins/counter.css";
@import "yet-another-react-lightbox/plugins/thumbnails.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Sarabun:wght@400;700&display=swap");

.container {
  max-width: 1400px;
  padding-block: 200px;
  padding-inline: 50px;
  margin-inline: auto;

  @include max-width(768px) {
    padding-block: 120px;
    padding-inline: 15px;
  }
}

#root {
  display: contents;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-main), "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--fs-main);
  line-height: var(--lh-main);
  font-weight: var(--fw-main);
  color: var(--cl-main);
  background-image: linear-gradient(-45deg, #f1dee5, #f0dbe3, #dde8f1, #e0eaf2);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  overflow-x: hidden;
}

ul,
ol {
  list-style-type: none;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  outline: none;
}

input,
textarea {
  outline: none;
}

a {
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

button.control-prev {
  border-top-left-radius: var(--br-main);
  border-bottom-left-radius: var(--br-main);

  &::before {
    border-right-color: var(--cl-main) !important;
  }
}

button.control-next {
  border-top-right-radius: var(--br-main);
  border-bottom-right-radius: var(--br-main);

  &::before {
    border-left-color: var(--cl-main) !important;
  }
}

p.carousel-status {
  font-weight: var(--fw-sec);
  color: var(--cl-main) !important;
  text-shadow: none !important;
}

li.thumb {
  border-width: 2px !important;
  border-radius: var(--br-main);

  &:hover {
    border-color: var(--cl-main) !important;
  }

  &.selected {
    border-color: var(--cl-main) !important;
  }
}
