@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes floating {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(calc(-100dvh - 150px)) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes swing {
  0% {
    rotate: 20deg;
  }

  50% {
    rotate: -20deg;
  }

  100% {
    rotate: 20deg;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(1.2);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes wobble-hor-top {
  0%,
  100% {
    transform: translateX(0);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-7px) rotate(6deg);
  }

  30% {
    transform: translateX(5px) rotate(-6deg);
  }

  45% {
    transform: translateX(-5px) rotate(3.6deg);
  }

  60% {
    transform: translateX(3px) rotate(-2.4deg);
  }

  75% {
    transform: translateX(-1px) rotate(1.2deg);
  }
}

@keyframes pulsate-bck {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
