:root {
  --cl-main: #f9fafb;
  --cl-sec: #3b82f6;
  --bg-main: #1a243b;

  --gradient: #0c1529;
  --gradient-accent: #060f24;

  --ff-main: "Sarabun";
  --ff-sec: "Open Sans";

  --fs-main: 16px;
  --fs-sec: 14px;
  --fs-3: 32px;
  --fs-4: 42px;

  --fw-main: 400;
  --fw-sec: 700;

  --lh-main: 1.6;

  --br-main: 8px;
  --br-sec: 16px;

  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --toastify-color-success: var(--cl-sec) !important;
}
